scripts/__pycache__
vendor/premake
vendor/VulkanSDK
lib/
**.vcxproj
**.sln
**.vcxproj.user
.vs
.vscode
bin
bin-int
**/Makefile
build
.claude
**.cache
App/Assets/.cache
CLAUDE.md
scripts/CMakeFiles
scripts/vendor
vendor/CMakeCache.txt
vendor/CMakeFiles
vendor/fastgltfConfigVersion.cmake
Editor/obj**
**.cso
**.spv