[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/NVRHI"]
	path = vendor/NVRHI
	url = https://github.com/NVIDIA-RTX/NVRHI.git
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "vendor/fastgltf"]
	path = vendor/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
